<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="../../content/assets/css/styles.css">
	</head>
	<body>

		<main id="authentication" class="inner-bottom-md">

		    <div class="container">

		        <div class="row flex-center">

		            <div class="col-xl-5 col-lg-5 col-md-9 col-sm-12 col-12">

		                <section class="sign-in login-card">

		                    <h2 class="title title-account remington-22">Login</h2>
							
							<form action="" autocomplete="off" class="login-form" method="post">       

								<div class="field-row">
		                            <label>Usuario</label>
		                            <input type="email" name="Email" class="le-input" required="">
		                        </div>
		                        <div class="field-row">
		                            <label>Contraseña</label>
		                            <input type="password" name="Password" class="le-input" required="">
		                        </div>
		                        <div class="buttons-holder">
		                            <button type="submit" class="le-button login-button">Ingresar</button>
		                        </div>

							</form>     

		                    <div class="bottom-section">
		                        <h3 class="title remington-22">¿No estás registrado?</h3>
		                        <div class="buttons-holder">
		                            <a class="le-button muted register-button" href="">Crear Cuenta</a>
		                        </div>
		                    </div>

		                </section>

		            </div>

		        </div>

		    </div>

		</main>

	</body>
</html>