{{#partial "contenido"}}
	<h2 class="mt-5">Nombre del usuario</h2>
	<hr>
	<div class="row">
	  <div class="col-3">
	    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
	      <a class="nav-link active" id="consumo-tab" data-toggle="pill" href="#consumo" role="tab" aria-controls="consumo" aria-selected="true">Consumo</a>
	      <a class="nav-link" id="dispositivos-tab" data-toggle="pill" href="#dispositivos" role="tab" aria-controls="dispositivos" aria-selected="false">Dispositivos</a>
	      <a class="nav-link" id="regla-tab" data-toggle="pill" href="#reglas" role="tab" aria-controls="reglas" aria-selected="false">Reglas</a>
	    </div>
	  </div>
	  <div class="col-9">
	    <div class="tab-content" id="v-pills-tabContent">
	      <div class="tab-pane fade show active" id="consumo" role="tabpanel" aria-labelledby="consumo-tab">
	      	<div class="alert alert-primary" role="alert">
			  El consumo del periodo actual es de <a href="#" class="alert-link">36.750,28 KW</a>.
			</div>
	      	<table class="table table-striped table-bordered">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">Fecha de medici&oacute;n</th>
			      <th scope="col">Consumo</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td scope="row">7/10/2018</td>
			      <td>85.254,32 KW</td>
			    </tr>
			    <tr>
			      <td scope="row">21/09/2018</td>
			      <td>25.000 KW</td>
			    </tr>
			    <tr>
			      <td scope="row">17/08/2018</td>
			      <td>12.003,2 KW</td>
			    </tr>
			  </tbody>
			</table>
			<button type="button" class="btn btn-primary">Optimizar consumo</button>			      	
	      </div>
	      <div class="tab-pane fade" id="dispositivos" role="tabpanel" aria-labelledby="dispositivos-tab">
	      	<div class="row mb-2">
	      		<div class="col">			      		
			      	<div class="card">
					  <div class="card-body">
					    <h5 class="card-title">Smart TV</h5>
					    <h6 class="card-subtitle mb-2 text-muted">Encendido</h6>
					  </div>
					</div>
	      		</div>
	      		<div class="col">			      		
			      	<div class="card">
					  <div class="card-body">
					    <h5 class="card-title">Heladera</h5>
					    <h6 class="card-subtitle mb-2 text-muted">Modo ahorro</h6>
					  </div>
					</div>
	      		</div>
      		</div>
	      	<div class="row">
	      		<div class="col">			      		
			      	<div class="card">
					  <div class="card-body">
					    <h5 class="card-title">Aire acondicionado</h5>
					    <h6 class="card-subtitle mb-2 text-muted">Apagado</h6>
					  </div>
					</div>
	      		</div>
	      		<div class="col">			      		
			      	<div class="card">
					  <div class="card-body">
					    <h5 class="card-title">PlayStation 4</h5>
					    <h6 class="card-subtitle mb-2 text-muted">Apagado</h6>
					  </div>
					</div>
	      		</div>
	      	</div>
	      </div>
	      
	      <div class="tab-pane fade" id="reglas" role="tabpanel" aria-labelledby="reglas-tab">
	      	<div class="row mb-2">
	      		<div class="col">			      		
			      	<div class="card">
			      		<div class="card-header">
							<h5 class="card-title">Regla 1</h5>
						</div>
					  	<div class="card-body">						   
						    <h6 class="card-subtitle mb-2 text-muted">Estricta</h6>
						    <h6 class="card-subtitle mb-2 text-muted">Dispositivo: Smart TV</h6>
						    <h6 class="card-subtitle mb-2 text-muted">Condiciones</h6>
						    <ul>
						    	<li>Condicion 1</li>
						    	<li>Condicion 2</li>
						    	<li>Condicion 3</li>
						    </ul>
						     <h6 class="card-subtitle mb-2 text-muted">Actuadores</h6>
						    <ul>
								<li>Actuador que llama a servicio tecnico</li>
						    	<li>Actuador que apaga</li>									
						    </ul>
						  </div>
						</div>
	      		</div>
	      		<div class="col">			      		
			      	<div class="card">
		      			<div class="card-header">
							<h5 class="card-title">Regla 2</h5>
						</div>
					    <div class="card-body">
						    <h5 class="card-title"></h5>
						    <h6 class="card-subtitle mb-2 text-muted">Permisiva</h6>
						    <h6 class="card-subtitle mb-2 text-muted">Dispositivo: xx</h6>
						     <h6 class="card-subtitle mb-2 text-muted">Condiciones</h6>
						    <ul>
						    	<li>Consumo mayor o igual a 20</li>
						    </ul>
						     <h6 class="card-subtitle mb-2 text-muted">Actuadores</h6>
						    <ul>
							
						    	<li>Actuador que prende</li>									
						    </ul>
					    </div>
					</div>
	      		</div>
      		</div>	   
	      </div>
	    </div>
	  </div>
	</div>
{{/partial}}

{{>layout.hbs}}