<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="/assets/css/custom.css" type="text/css">
	</head>
	<body>

		<main id="authentication" class="inner-bottom-md">

		    <div class="container">

		        <div class="row flex-center">

		            <div class="col-xl-5 col-lg-5 col-md-9 col-sm-12 col-12">

		                <section class="sign-in login-card">

		                    <h2 class="title title-account remington-22">Login</h2>
							
							<form action="/{{home}}/login" autocomplete="off" class="login-form" method="post">       

								<div class="field-row">
		                            <label>Usuario</label>
		                            <input type="text" name="username" class="le-input" required="" value = {{ username }}>
		                        </div>
		                        <div class="field-row">
		                            <label>Contraseña</label>
		                            <input type="password" name="password" class="le-input" required="">
		                        </div>
		                        <div class="buttons-holder">
		                            <button type="submit" class="le-button login-button">Ingresar</button>
		                        </div>

							</form>

		                </section>

		            </div>

		        </div>

		    </div>

		</main>

	</body>
</html>