<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sistema de dispositivos ecoamigables">
    <meta name="author" content="Los pibes de dds">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Login</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/custom.css" type="text/css">
  </head>

  <body id="authentication" class="text-center">
	<form action="/{{home}}/login" autocomplete="off" class="form-signin" method="post">  
      <img class="mb-4" src="https://img00.deviantart.net/96d3/i/2015/197/6/f/house_stark_sigil_by_dutchlion-d91klju.png" alt="" width="85" height="85">
      <h1 class="h3 mb-3 font-weight-normal">Iniciar sesi&oacute;n</h1>
      <label for="username" class="sr-only">Usuario</label>
      <input type="text" id="username" name="username" class="form-control" placeholder="Usuario" value="{{ username }}" required autofocus>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
	  <p class="mt-5 mb-3 text-muted">When the snows fall and the white winds blow, the lone wolf dies but the pack survives</p>
    </form>
  </body>
</html>